@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<h1 class="display-4">@Model.Team</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Middle Init</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Bowlers)
        {
        <tr>
            <td>@x.BowlerFirstName</td>
            <td>@x.BowlerMiddleInit</td>
            <td>@x.BowlerLastName</td>
            <td>@x.BowlerAddress</td>
            <td>@x.BowlerCity</td>
            <td>@x.BowlerState</td>
            <td>@x.BowlerZip</td>
            <td>@x.BowlerPhoneNumber</td>
        </tr>
        }
    </tbody>
</table>

<div class="pagination" 
     page-info="@Model.PageNumberingInfo" 
     page-url-team="@Model.Team"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary">

</div>
